<li
  class="px-2 py-1 cursor-pointer {{if this.isSelected "bg-gray-200"}}"
  onclick={{action "doClick"}}
  onmouseover={{action "doMouseOver"}}
  data-test-value={{this.result.value}}
>
  {{this.result.name}}
</li>
