<h2>Edit learning requirement: {{this.model.attributes.category}} {{this.model.attributes.seq}}</h2>

<SettingsLearningRequirementForm
  @model={{this.model}}
  @categories={{this.categories}}
  @learningRequirements={{this.learningRequirements}}
  @save={{action "updateRequirement"}}
  @reportError={{action "reportError"}}
/>
