<p>
  <TSelect
    @optionsList={{categories}}
    @onchange={{action (mut category)}}
    name="category"
    @value={{category}}
    @prompt="All categories"
  />
</p>

<LinkTo
  class="btn"
  @route="settings-learning-requirements.new"
>
  Add a learning requirement
</LinkTo>

{{#check-empty
  count=categoryLearningRequirements.length
  noResultsMessage="No entries in this category"
}}
  {{count-paragraph
    count=categoryLearningRequirements.length
    name="learning requirement"
  }}
  <table class="t-table w-full" data-test-settings-learning-requirement-list>
    <thead>
      <tr>
        <th>Sequence</th>
        <th>Category</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each categoryLearningRequirements as |learningRequirement|}}
        <tr>
          <td>
            {{learningRequirement.attributes.seq}}
          </td>
          <td>
            {{learningRequirement.attributes.category}}
          </td>
          <td>
            {{learningRequirement.attributes.learningRequirement}}
          </td>
          <th class="text-right">
            <LinkTo
              @route="settings-learning-requirements.edit"
              @model={{learningRequirement}}
            >
              Edit
            </LinkTo>
            <button
              class="link-button"
              type="button"
              onclick={{action 'deleteLearningRequirement' learningRequirement}}
            >
              Delete
            </button>
          </th>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/check-empty}}

{{#if showDialog}}
  <ModalDialog>
    <h3>Delete {{learningRequirement.attributes.category}} {{learningRequirement.attributes.seq}}</h3>
    <p>Are you sure you want to delete this?</p>
    <footer>
      <button
        class="btn"
        onclick={{action "confirmDelete" learningRequirement}}
        type="submit"
      >
        Delete
      </button>
      <button
        type="button"
        onclick={{action "cancelDelete"}}
      >
        Cancel
      </button>
    </footer>
  </ModalDialog>
{{/if}}
