<h2>Status</h2>
<CheckEmpty
  @count={{this.enrollments.length}}
  @noResultsMessage="No enrollments"
>
  <StatusByContract
    @statuses={{this.statuses}}
    @contract={{this.contract}}
    @enrollments={{this.enrollments}}
    @getNotes={{route-action "getNotes"}}
  />
</CheckEmpty>