<tr class="contract-assignments-list-participant">
  <td>
    {{full-name this.student}}
  </td>
  {{#each this.assignments as |assignment|}}
    <ContractAssignmentsList::Column @enrollment={{this.enrollment}} @assignment={{assignment}} @turninsHashedByAssignment={{this.turninsHashedByAssignment}} />
  {{/each}}
</tr>
<tr class="notes-row {{this.loadingNotes}}">
  <td colspan="3">
    <NotesList @notes={{this.notes}} @expanded={{this.notesExpanded}} />
  </td>
</tr>