<td>
  <TDragHandle />
</td>
<td class={{if indented "pl-8"}}>
  <LinkTo @route="settings-graduation-plan-requirements.edit" @model={{req.id}}>
    {{req.attributes.name}}
  </LinkTo>
</td> 
<td>{{titleize req.attributes.status}}</td>
<td>{{t-markdown req.attributes.notes}}</td>
