<td>
  <TDragHandle />
</td>
<td class={{if this.indented "pl-8"}}>
  <LinkTo @route="settings-graduation-plan-requirements.edit" @model={{this.req.id}}>
    {{this.req.attributes.name}}
  </LinkTo>
</td> 
<td>{{titleize this.req.attributes.status}}</td>
<td>{{t-markdown this.req.attributes.notes}}</td>
