<tbody data-test-contract-attendance-list-row data-test-enrollment-id={{this.enrollment.id}}>
  <tr>
    <td>
      {{full-name this.student}}
    </td>
    <td class="center">
      <NumberOr @number={{this.roll.present}} />
      {{#if this.roll.tardy}}
        ({{this.roll.tardy}}T)
      {{/if}}
    </td>
    <td class="center">
      <NumberOr @number={{this.roll.absent}} />
      {{#if this.roll.excused}}
        ({{this.roll.excused}}E)
      {{/if}}
    </td>
    <td class="center">
      <NumberOr @number={{this.roll.tardy}} />
    </td>
    {{#each this.meetings as |meeting|}}
      <ContractAttendanceList::Column
        @meeting={{meeting}}
        @row={{this.row}}
        @roll={{this.roll}}
      />
    {{/each}}
  </tr>
  <tr class="notes-row {{this.loadingNotes}}">
    <td colspan={{this.columnsCount}}>
      <NotesList @notes={{this.notes}} @expanded={{this.notesExpanded}} />
    </td>
  </tr>
</tbody>
