<h3>Combine credits</h3>

<CreditAssignments
  @creditAssignments={{@creditAssignments}}
  @disabled={{true}}
/>
<TForm
  data-test-combine-credit-assignments
  @save={{fn @save}}
  @reportError={{fn @reportError}}
  @model={{@model}}
  @validator={{this.validator}}
  @validateRelationships={{this.validateRelationships}}
  as |tform|
>
  <fieldset>
    <p>
      <FormInput
        @error={{tform.errors.credit}}
        @showError={{tform.showErrors}}
        @label="Course"
      >
        <TTypeAhead
          data-test-name="credit"
          autofocus
          @placeholder="Type a course name or course code to match"
          @name="credit"
          @value={{tform.relationships.credit.id}}
          @results={{this.creditResult}}
          @onSearch={{fn this.searchCredits}}
          @onChange={{fn tform.onChangeRelationship}}
        />
      </FormInput>
    </p>
  </fieldset>
  <fieldset>
    <p>
      <FormInput
        @error={{tform.errors.creditHours}}
        @showError={{tform.showErrors}}
      >
        <div class="flex justify-between">
          <span class="font-semibold">
            Credit hours
          </span>
          <span>
            {{#if tform.pojo.enableOverride}}
              <FaIcon @icon="check" class="inline no-underline text-orange-500 mr-2" />
            {{/if}}
            <TLink
              class="font-normal"
              data-test-toggle-override
              @action={{fn tform.toggleValue 'enableOverride'}}
            >
              Override
            </TLink>
          </span>
        </div>
        {{#if tform.pojo.enableOverride}}
          <input
            type="number"
            step="0.25"
            min="0"
            name="overrideHours"
            data-test-override-hours
            value={{tform.pojo.overrideHours}}
            onchange={{fn tform.onChange}}
            {{did-insert this.setFocusToOverrideField}}
          >
        {{else}}
          <span data-test-override-hours class="field">
            {{tform.pojo.overrideHours}}
          </span>
        {{/if}}
      </FormInput>
    </p>
  </fieldset>
  <fieldset>
    <p>
      <FormInput
        @error={{tform.errors.contractTerm}}
        @showError={{tform.showErrors}}
        @label="Term"
      >
        <TermSelect
          name="contractTerm"
          @value={{tform.relationships.contractTerm.id}}
          @prompt="Select a term"
          @terms={{@terms}}
          @onchange={{fn tform.onChangeRelationship}}
        />
      </FormInput>
    </p>
  </fieldset>
  <fieldset>
    <p>
      <FormInput
        @error={{tform.errors.note}}
        @showError={{tform.showErrors}}
        @label="Notes"
      >
        <textarea
          value={{tform.pojo.note}}
          name="note"
          onchange={{fn tform.onChange}}
        />
      </FormInput>
    </p>
  </fieldset>
  <TFormActionsRow
    @submitCaption="Combine"
  >
    <button
      type="button"
      onclick={{fn this.close}}
    >
      Cancel
    </button>
  </TFormActionsRow>
</TForm>