<li data-test-credit-assignment-id={{this.creditAssignment.id}}>
  <TLink
    @action={{this.editCreditAssignment}}
    @disabled={{this.disabled}}
  >
    {{this.courseName}} ({{this.credit.attributes.courseId}})
    /
    {{this.hours}}
  </TLink>
  {{#if this.creditAssignment.attributes.overrideBy}}
    <note
      title="was {{this.creditAssignment.attributes.creditHours}}; by {{this.creditAssignment.attributes.overrideBy}}"
    >
      (O)
    </note>
  {{/if}}
  {{yield
    (hash
      creditAssignment=this.creditAssignment
      credit=this.credit
    )
  }}
</li>