<fieldset>
  <p>
    <FormInput @error={{errors.name}} @showError={{showErrors}} @label="Name">
      <input
        type="text"
        name="name"
        value={{pojo.name}}
        autofocus
        onchange={{action "onChange"}}
      >
    </FormInput>
  </p>
  <p>
    <FormInput @error={{errors.schoolYear}} @showError={{showErrors}} @label="School year">
      <TSelect
        name="schoolYear"
        @value={{pojo.schoolYear}}
        @optionsList={{sortedSchoolYears}}
        @onchange={{action "didChangeSchoolYear"}}
      />
    </FormInput>
  </p>
  <p>
    <FormInput @error={{errors.creditDate}} @showError={{showErrors}} @label="Credit date">
      <TPikaday @popup={{true}} @name="creditDate" @value={{pojo.creditDate}} @onchange={{action "onChange"}} />
    </FormInput>
  </p>
</fieldset>
<fieldset>
  <h3>Status reporting months</h3>
  <TFormErrorMessage @message={{errors.months}} @show={{showErrors}} @className="absolute -mt-4" />
  <div class="inputs-horizontal">
    {{#each reportingMonthOptions as |month|}}
      <AdminTermForm::ReportingMonth @month={{month}} @months={{pojo.months}} @onclick={{action "toggleMonth"}} />
    {{/each}}
  </div>
</fieldset>
<fieldset>
  <h3>Term Status</h3>
  <div class="inputs-horizontal">
    <label>
      <input
        name="status"
        type="radio"
        checked={{isActive}}
        value="active"
        onclick={{action "toggleStatus"}}
      >
      Active
    </label>
    <label>
      <input
        name="status"
        type="radio"
        value="inactive"
        checked={{isInactive}}
        onclick={{action "toggleStatus"}}
      >
      Inactive
    </label>
  </div>
</fieldset>
<TFormActionsRow>
  <LinkTo @route="admin-terms" class="button">
    Cancel
  </LinkTo>
</TFormActionsRow>