<Table data-test-admin-terms-list>
  <thead>
    <tr>
      <th>Term</th>
      <th>School year</th>
      <th>Credit date</th>
      <th>Active?</th>
      <th>Reporting months</th>
      <th>Contracts</th>
      <th>Enrollments</th>
      <th>Active enrollments</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each termsList as |term|}}
      <tr>
        <td>
          <LinkTo @route="admin-term.edit" @model={{term.id}}>
            {{term.attributes.name}}
          </LinkTo>
        </td>
        <td>{{term.attributes.schoolYear}}</td> 
        <td>{{t-date term.attributes.creditDate "MMM d, YYYY"}}</td>
        <td>
          {{#if term.isActive}}
            A
          {{/if}}
        </td>
        <td>
          {{term.months}}
        </td>
        <td>
          {{t-number term.meta.contractsCount}}
        </td>
        <td>
          {{t-number term.meta.enrollmentsCount}}
        </td>
        <td>
          {{t-number term.meta.enrollmentsOpenCount}}
        </td>
        <td>
          {{#unless term.meta.enrollmentsOpenCount}}
            Finalize
          {{/unless}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</Table>
