<nav>
  <div class="max-w-7xl">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <tiny-nav class="flex items-baseline space-x-4">
          <AdminToolbar::Item @currentRoute={{currentRoute}} @route="admin-settings.index" @label="Settings" @disabled={{disabled}} />
          <AdminToolbar::Item @currentRoute={{currentRoute}} @route="admin-users" @label="Users" />
          <AdminToolbar::Item @currentRoute={{currentRoute}} @route="admin-terms" @label="Terms" />
          <AdminToolbar::Item @currentRoute={{currentRoute}} @route="admin-credit-batches" @label="Credit batches" />
          <AdminToolbar::Item @currentRoute={{currentRoute}} @route="admin-reports" @label="Reports" />
        </tiny-nav>
      </div>
    </div>
  </div>
</nav>
