<ul class="filter">
  <li class="filter-item">
    <TSelect
      @optionsList={{this.schoolYearOptions}}
      @value={{this.queryParams.schoolYear}}
      name="schoolYear"
      @onchange={{action "onSelect"}}
    />
  </li>
  <li class="filter-item">
    <TSelect
      @optionsList={{this.statusOptions}}
      @value={{this.queryParams.status}}
      name="status"
      @prompt="Any status"
      @onchange={{action "onSelect"}}
    />
  </li>
</ul>