<fieldset>
  <p>
    <FormInput @error={{errors.firstName}} @showError={{showErrors}} @label="First name">
      <input
        type="text"
        name="firstName"
        value={{pojo.firstName}}
        autofocus
        onchange={{action "onChange"}}
      >
    </FormInput>
  </p>
  <p>
    <FormInput @error={{errors.lastName}} @showError={{showErrors}} @label="Last name">
      <input
        type="text"
        name="lastName"
        value={{pojo.lastName}}
        onchange={{action "onChange"}}
      >
    </FormInput>
  </p>
  <p>
    <FormInput @error={{errors.nickname}} @showError={{showErrors}} @label="Nickname">
      <input
        type="text"
        name="nickname"
        value={{pojo.nickname}}
        onchange={{action "onChange"}}
      >
    </FormInput>
  </p>
</fieldset>

<fieldset>
  <h3>Account Privileges and Status</h3>
  <p>
    <FormInput @error={{errors.role}} @showError={{showErrors}} @label="User type">
      <TSelect
        @value={{pojo.role}}
        @prompt="Select a user type"
        @optionsList={{roleOptions}}
        name="role"
        @onchange={{action "onChange"}}
      />
    </FormInput>
  </p>
</fieldset>

{{#if isStaff}}
  <fieldset>
    <p>
      <FormInput @error={{errors.email}} @showError={{showErrors}} @label="Email">
        <input
          type="email"
          name="email"
          value={{pojo.email}}
          onchange={{action "onChange"}}
        >
      </FormInput>
    </p>
  </fieldset>
{{/if}}

<fieldset>
  <p>
    <label>
      Status
    </label>
    <div class="inputs-horizontal">
      <label>
        <input
          type="radio"
          value="active"
          checked={{if isActive true false}}
          name="status"
          onchange={{action "onChange"}}
        >
        Active
      </label>
      <label>
        <input
          type="radio"
          value="inactive"
          checked={{if isActive false true}}
          name="status"
          onchange={{action "onChange"}}
        >
        Inactive
      </label>
    </div>
  </p>
  <p>
    <FormInput @error={{errors.dateActive}} @showError={{showErrors}} @label="Date active">
      <TPikaday @popup={{true}} @name="dateActive" @value={{pojo.dateActive}} @onchange={{action "updateDate"}} />
    </FormInput>
  </p>
  <p>
    <FormInput @error={{errors.dateInactive}} @showError={{showErrors}} @label="Date inactive">
      <TPikaday @popup={{true}} @name="dateInactive" @value={{pojo.dateInactive}} @onchange={{action "updateDate"}} @showClear={{true}} />
    </FormInput>
  </p>
</fieldset>
{{#if isStudent}}
  <fieldset>
    <h3>Student Settings</h3>
    <p>
      <FormInput @error={{errors.coordinator}} @showError={{showErrors}} @label="Coordinator">
        <TSelect
          @prompt="None assigned"
          @value={{pojo.coordinatorId}}
          @optionsList={{coordinatorOptions}}
          @optionValuePath="id"
          name="coordinator"
          @onchange={{action "handleCoordinatorChange"}}
        />
      </FormInput>
    </p>
    <p>
      <FormInput @error={{errors.districtId}} @showError={{showErrors}} @label="District ID">
        <input
          type="text"
          name="districtId"
          value={{pojo.districtId}}
          onchange={{action "onChange"}}
        >
      </FormInput>
    </p>
    <p>
      <FormInput @error={{errors.districtGrade}} @showError={{showErrors}} @label="Grade level">
        <TSelect
          @prompt="None assigned"
          @value={{pojo.districtGrade}}
          @optionsList={{grades}}
          name="districtGrade"
          @onchange={{action "onChange"}}
        />
      </FormInput>
    </p>
  </fieldset>
{{/if}}
<TFormActionsRow @disabled={{disabled}}>
  <LinkTo @route="admin-users" class="button">
    Cancel
  </LinkTo>
</TFormActionsRow>
