<Table class="assignments-list">
  <thead class="rotated-headings">
    <tr>
      <th>
        Participant
      </th>
      {{#each this.sortedAssignments as |assignment|}}
        <ContractAssignmentsList::AssignmentHeader @assignment={{assignment}} />
      {{/each}}
    </tr>
  </thead>
  {{#each this.participants as |participant|}}
    <ContractAssignmentsList::Row @student={{participant.student}} @enrollment={{participant.enrollment}} @assignments={{this.sortedAssignments}} @notablesHash={{this.notablesHash}} @notesExpanded={{this.notesExpanded}} />
{{/each}}
</Table>