<div class="contract-detail">
  <TTiles>
    <TTiles::Tile>
      <h3 class="my-2">Status</h3>
      <p class="my-2">{{titleize this.contract.attributes.status}}</p>
    </TTiles::Tile>
    <TTiles::Tile>
      <h3 class="my-2">Facilitator</h3>
      <p class="my-2">{{full-name this.facilitator "first-last"}}</p>
    </TTiles::Tile>
    <TTiles::Tile>
      <h3 class="my-2">Category</h3>
      <p class="my-2">{{this.category.attributes.name}}</p>
    </TTiles::Tile>
    <TTiles::Tile>
      <h3 class="my-2">Term</h3>
      <p class="my-2">{{this.term.attributes.name}}</p>
    </TTiles::Tile>
  </TTiles>

  <h2>Schedule and Location</h2>
  <ContractTimeslots
    @timeslots={{this.contract.attributes.timeslots}}
  />
  <p class="my-2">{{this.contract.attributes.location}}</p>

  <h2>Credits</h2>
  <CreditAssignments
    @creditAssignments={{this.creditAssignments}}
    @creditable={{this.contract}}
    @disabled={{true}}
  />

  <ContractAttributes
    @contract={{this.contract}}
    @updateContract={{fn this.updateContract}}
    @loading={{this.loading}}
    @cancelEditing={{fn this.cancelEditing}}
  />

  <ContractLearningRequirements
    @learningRequirements={{this.learningRequirements}}
    @contract={{this.contract}}
    @updateContract={{fn this.updateContract}}
    @loading={{this.loading}}
  />

  <ContractAssignmentsSummary
    @assignments={{this.assignments}}
  />

</div>