<Table data-test-attendance-list>
  <thead>
    <tr>
      <th>Student</th>
      <th>Present</th>
      <th>Absent</th>
      <th>Tardy</th>
      {{#each sortedMeetings as |meeting|}}
        <th data-test-meeting data-test-meeting-date={{meeting.attributes.meetingDate}}>
          <LinkTo @route="contract-attendance-roll" @model={{meeting.id}}>
            {{t-date meeting.attributes.meetingDate "M/D"}}
          </LinkTo>
        </th>
      {{/each}}
    </tr>
  </thead>
  {{#each participants as |participant i|}}
    <ContractAttendanceList::Row @meetings={{sortedMeetings}} @row={{i}} @enrollment={{participant.enrollment}} @student={{participant.student}} @attendanceHash={{attendanceHash}} />
  {{/each}}
</Table>
