<Table>
  <thead>
    <th>Participant</th>
    <th>Enrollment status</th>
    <th>Credit assignments</th>
    <th>Notes</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {{#each this.enrollments as |enrollment|}}
      <ContractEnrollmentsList::Row
        @enrollment={{enrollment}}
        @notablesHash={{this.notablesHash}}
        @contractIsDisabled={{this.contractIsDisabled}}
        @deleteEnrollment={{this.deleteEnrollment}}
        @updateEnrollment={{this.updateEnrollment}}
      />
    {{/each}}
  </tbody>
</Table>
