<Table data-test-attendance-list>
  <thead>
    <tr>
      <th>Student</th>
      <th>Present</th>
      <th>Absent</th>
      <th>Tardy</th>
      {{#each this.sortedMeetings as |meeting|}}
        <th data-test-meeting data-test-meeting-date={{meeting.attributes.meetingDate}}>
          <LinkTo @route="contract-attendance-roll" @model={{meeting.id}}>
            <DateTime @date={{meeting.attributes.meetingDate}} @format="M/D" />
          </LinkTo>
        </th>
      {{/each}}
    </tr>
  </thead>
  {{#each this.participants as |participant i|}}
    <ContractAttendanceList::Row @meetings={{this.sortedMeetings}} @row={{i}} @enrollment={{participant.enrollment}} @student={{participant.student}} @attendanceHash={{this.attendanceHash}} />
  {{/each}}
</Table>
