<ContractAttendanceRoll::SetAll @updateAllRolls={{action "updateAllRolls"}} />
<Table>
  <thead>
    <th>Student</th>
    <th>Meeting type</th>
    <th>Present</th>
    <th>Tardy</th>
    <th>Absent</th>
    <th>Excused</th>
    <th>Notes</th>
  </thead>
  <tbody>
    {{#each this.activeParticipants as |participant|}}
      <ContractAttendanceRoll::Row @enrollment={{participant.enrollment}} @meeting={{this.meeting}} @notesHash={{this.notesHash}} @meetingParticipantHash={{this.meetingParticipantHash}} @student={{participant.student}} @updateRoll={{this.updateRoll}} />
    {{/each}}
  </tbody>
</Table>