<form class="form">
  <ul class="filter">
    <li class="filter-item">
      Filters:
    </li>
    <li class="filter-item">
      <TSelect
        @optionsList={{@schoolYears}}
        @value={{@queryParams.schoolYear}}
        name="schoolYear"
        @onchange={{fn this.onSelect}}
      />
    </li>
    <li class="filter-item">
      <TSelect
        @optionsList={{@terms}}
        @value={{@queryParams.term}}
        name="term"
        @prompt={{this.termsPrompt}}
        @optionValuePath="id"
        @optionNamePath="attributes.name"
        @onchange={{fn this.onSelect}}
      />
    </li>
    <li class="filter-item">
      <TSelect
        @optionsList={{this.facilitatorOptions}}
        @value={{this.queryParams.facilitator}}
        name="facilitator"
        @prompt="All facilitators"
        @optionValuePath="id"
        @optionNamePath="name"
        @onchange={{fn this.onSelect}}
      />
    </li>
    <li class="filter-item">
      <TSelect
        @optionsList={{@categories}}
        @value={{@queryParams.category}}
        name="category"
        @prompt="All categories"
        @optionValuePath="id"
        @optionNamePath="attributes.name"
        @onchange={{fn this.onSelect}}
      />
    </li>
    <li class="filter-item">
      <TSelect
        @optionsList={{this.statuses}}
        @value={{@queryParams.status}}
        name="status"
        @prompt="Any status"
        @onchange={{fn this.onSelect}}
      />
    </li>
  </ul>
</form>
