{{#check-empty
  count=viewModels.length
  noResultsMessage="There are no credits to approve."
}}
  <Pagination @count={{viewModels.length}} @name="credit" />
  <p class="flex">
    <TLink
      data-test-combine-credits
      @action={{action "combineCredits"}}
      @disabled={{combineLinkDisabled}}
    >
      <FaIcon @icon="object-group" class="no-underline mr-2" />
      Combine selected credits
    </TLink>
  </p>
  <Table data-test-credits-worksheet>
    <thead>
      <tr>
        <th></th>
        <th>Credit</th>
        <th>Term</th>
        <th class="text-right">Credits</th>
        <th class="text-right">Completed</th>
        <th class="text-right">Approved</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each viewModels as |viewModel|}}
        <CreditsWorksheet::Item @creditAssignment={{viewModel.creditAssignment}} @splitCredit={{action "splitCredit"}} @selectCredit={{action "selectCredit"}} @approveCredit={{action "approveCredit"}} />
      {{/each}}
    </tbody>
  </Table>
{{/check-empty}}