{{#check-empty
  count=viewModels.length
  noResultsMessage="There are no credits to approve."
}}
  <Pagination
    @totalCount={{viewModels.length}}
    @singularName="credit"
  />
  <p class="flex">
    <button
      type="button"
      class="button"
      data-test-combine-credits
      {{action "combineCredits"}}
      disabled={{combineLinkDisabled}}
    >
      <FaIcon @icon="object-group" class="no-underline mr-2" />
      Combine selected credits
    </button>
  </p>
  <Table data-test-credits-worksheet>
    <thead>
      <tr>
        <th></th>
        <th>Credit</th>
        <th>Term</th>
        <th>Credits</th>
        <th>Completed</th>
        <th>Approved</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each viewModels as |viewModel|}}
        <CreditsWorksheet::Item @creditAssignment={{viewModel.creditAssignment}} @splitCredit={{action "splitCredit"}} @selectCredit={{action "selectCredit"}} @approveCredit={{action "approveCredit"}} />
      {{/each}}
    </tbody>
  </Table>
{{/check-empty}}