<form onsubmit={{this.onSubmit}}>
  <fieldset>
    <p>
      <FormInput @error={{this.errors.courseName}} @showError={{this.showErrors}} @label="Course name">
        <input
          type="text"
          name="courseName"
          value={{this.pojo.courseName}}
          autofocus
          onchange={{action "onChange"}}

        >
      </FormInput>
    </p>
    <p>
      <FormInput @error={{this.errors.courseId}} @showError={{this.showErrors}} @abel="Course ID">
        <input
          type="text"
          name="courseId"
          value={{this.pojo.courseId}}
          onchange={{action "onChange"}}
        >
      </FormInput>
    </p>

    <p>
      <FormInput @error={{this.errors.courseType}} @showError={{this.showErrors}} @label="Course type">
        <TSelect
          @value={{this.pojo.courseType}}
          @prompt="Select a course type"
          @optionsList={{this.courseTypeOptions}}
          name="courseType"
          @onchange={{action "onChange"}}
        />
      </FormInput>
    </p>

    <p>
      <FormInput @error={{this.errors.status}} @showError={{this.showErrors}} @label="Status">
        <TSelect
          @value={{this.pojo.status}}
          @optionsList={{this.statusOptions}}
          name="status"
          @onchange={{action "onChange"}}
        />
      </FormInput>
    </p>
  </fieldset>

  <TFormActionsRow @disabled={{this.disabled}}>
    <LinkTo @route="settings-credits.index" class="button">
      Cancel
    </LinkTo>
  </TFormActionsRow>
</form>