<fieldset>
  <p>
    <FormInput @error={{errors.courseName}} @showError={{showErrors}} @label="Course name">
      <input
        type="text"
        name="courseName"
        value={{pojo.courseName}}
        autofocus
        onchange={{action "onChange"}}

      >
    </FormInput>
  </p>
  <p>
    <FormInput @error={{errors.courseId}} @showError={{showErrors}} @abel="Course ID">
      <input
        type="text"
        name="courseId"
        value={{pojo.courseId}}
        onchange={{action "onChange"}}
      >
    </FormInput>
  </p>

  <p>
    <FormInput @error={{errors.courseType}} @showError={{showErrors}} @label="Course type">
      <TSelect
        @value={{pojo.courseType}}
        @prompt="Select a course type"
        @optionsList={{courseTypeOptions}}
        name="courseType"
        @onchange={{action "onChange"}}
      />
    </FormInput>
  </p>

  <p>
    <FormInput @error={{errors.status}} @showError={{showErrors}} @label="Status">
      <TSelect
        @value={{pojo.status}}
        @optionsList={{statusOptions}}
        name="status"
        @onchange={{action "onChange"}}
      />
    </FormInput>
  </p>
</fieldset>

<TFormActionsRow @disabled={{disabled}}>
  <LinkTo @route="settings-credits.index" class="button">
    Cancel
  </LinkTo>
</TFormActionsRow>
