<p ...attributes>
  <label class={{if hasErrorToShow "error"}}>
    {{#if @label}}
      <span data-test-label class="font-semibold">
        {{@label}}
      </span>
    {{/if}}
    {{yield}}
    <TFormErrorMessage
      @message={{@error}}
      @show={{@showErrors}}
      @className="static absolute -mt-px"
    />
  </label>
</p>