{{#check-empty
  count=requirementsList.length
  noResultsMessage="None of this type matching current filters"
}}
  <Table data-graduation-plan-requirements-list>
    <thead>
      <tr>
        <th></th>
        <th>Requirement</th>
        <th>Status</th>
        <th>Notes</th>
      </tr>
    </thead>
    {{#each requirementsList as |requirement|}}
      <GraduationPlanRequirementsList::PrimaryItem @requirement={{requirement}} @status={{status}} @dropTarget={{dropTarget}} @setDrop={{action (mut dropTarget)}} @onDrop={{action "onDrop"}} />
    {{/each}}
  </Table>
{{/check-empty}}