<div class="flex w-full">
  
  <div class="flex-none w-1/2">
    <h3>Credit Requirements</h3>
    <GraduationPlan::RequirementsMap @requirementType="credit" @mappings={{mappings}} @requirements={{requirements}} @mappingsHash={{mappingsHash}} @draggedCreditAssignment={{draggedCreditAssignment}} @editMapping={{action "editMapping"}} @addMapping={{action "addMapping"}} @removeMapping={{action "removeMapping"}} />

    <h3>General Requirements</h3>
    <GraduationPlan::RequirementsMap @requirementType="general" @mappings={{mappings}} @requirements={{requirements}} @mappingsHash={{mappingsHash}} @draggedCreditAssignment={{draggedCreditAssignment}} @editMapping={{action "editMapping"}} @addMapping={{action "addMapping"}} @removeMapping={{action "removeMapping"}} />

    <h3>Service Requirements</h3>
    <GraduationPlan::RequirementsMap @requirementType="service" @mappings={{mappings}} @requirements={{requirements}} @mappingsHash={{mappingsHash}} @draggedCreditAssignment={{draggedCreditAssignment}} @editMapping={{action "editMapping"}} @addMapping={{action "addMapping"}} @removeMapping={{action "removeMapping"}} />
  </div>

  <div class="flex-none w-1/2">
    <GraduationPlan::Credits @creditAssignments={{creditsAvailableToMap}} @onDrag={{action "onDrag"}} />
  </div>
</div>

{{#if showDialog}}
  <ModalDialog
    @containerClass="w-3/4 lg:w-1/2 xl:w-5/12"
    @onClose={{action "cancelDialog"}}
    @translucentOverlay={{true}}
  >
    <TForm
      @model={{mappingToEdit}}
      @save={{action "saveMapping"}}
      as |form|
    >
      <p>
        {{full-name student "first-last"}}: 
        {{requirementToEdit.attributes.name}}
      </p>
      <fieldset>
        <p>
          <FormInput @error={{errors.notes}} @showError={{showErrors}} @label="Notes">
            <textarea
              name="notes"
              value={{form.pojo.notes}}
              maxlength="255"
              class="resize-none w-full h-16"
              autofocus
            />
          </FormInput>
        </p>
        <p class="w-1/4">
          <FormInput @error={{errors.completionDate}} @showError={{showErrors}} @label="Completion date">
            <TPikaday @value={{form.pojo.dateCompleted}} @popup={{true}} @onchange={{action "onChange" target=form}} @name="dateCompleted" />
          </FormInput>
        </p>
      </fieldset>
      <TFormActionsRow @disabled={{disabled}}>
        <a
          {{action "cancelDialog"}}
          class="button"
          href="#"
        >
          Cancel
        </a>
      </TFormActionsRow>
    </TForm>
  </ModalDialog>
{{/if}}
