<CheckEmpty
  @count={{this.requirementsList.length}}
  @noResultsMessage="None of this type matching current filters"
>
  <Table data-graduation-plan-requirements-list>
    <thead>
      <tr>
        <th></th>
        <th>Requirement</th>
        <th>Status</th>
        <th>Notes</th>
      </tr>
    </thead>
    {{#each this.requirementsList as |requirement|}}
      <GraduationPlanRequirementsList::PrimaryItem @requirement={{requirement}} @status={{this.status}} @dropTarget={{this.dropTarget}} @setDrop={{action (mut this.dropTarget)}} @onDrop={{action "onDrop"}} />
    {{/each}}
  </Table>
</CheckEmpty>