<TForm
  class="mt-10"
  @model={{@learningPlan}}
  @save={{fn this.onSave}}
  as |form|
>
  <div class="flex items-end">
    <div>
      <label for="schoolYear" class="block text-sm font-medium text-gray-700">
        School year
      </label>
      <TSelect
        id="schoolYear"
        name="schoolYear"
        class="mt-1 block w-24 pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
        disabled={{this.isEditing}}
        @optionsList={{this.years}}
        @onchange={{fn @onChangeYear}}
        @value={{@year}}
      />
    </div>
    <div class="ml-4">
      {{#if this.hasLearningPlan}}
        <EditSaveCancel
          @onEdit={{fn this.edit}}
          @onCancel={{fn this.cancel}}
          @disabled={{@disabled}}
          @editing={{this.isEditing}}
        />
      {{else}}
        <button
          class="button"
          type="button"
          disabled={{disabled}}
          onclick={{fn this.createLearningPlan @year}}
        >
          Create learning plan for {{@year}}
        </button>
      {{/if}}
    </div>
  </div>

  {{#if this.hasLearningPlan}}
    <h3>
      This plan meets state and district graduation requirements.
    </h3>
    {{#if this.isEditing}}
      <FormInput
        @label="Weekly hours engaged in learning activity"
      >
        <div class="w-16">
          <input
            type="text"
            class="text-right"
            name="weeklyHours"
            onchange={{fn form.onChange}}
            value={{form.pojo.weeklyHours}}
          />
        </div>
      </FormInput>
    {{else}}
      Weekly hours engaged in learning activity: {{this.learningPlan.attributes.weeklyHours}}
    {{/if}}

    <h2>
      Standard Student Goals
    </h2> 
    <ul>
      {{#each this.learningPlanGoals as |goal|}}
        <li data-test-learning-plan-goal>
          {{goal.attributes.description}}
        </li>
      {{/each}}
    </ul>

    <h2>
      Personal goals
    </h2>

    {{#if this.isEditing}}
      <p>
        <MarkdownBox
          name="userGoals"
          @isEditing={{this.isEditing}}
          @onchange={{fn form.onChange}}
        >{{form.pojo.userGoals}}</MarkdownBox>
      </p>
    {{else}}
      {{t-markdown this.learningPlan.attributes.userGoals "No personal goals defined"}}
    {{/if}}
  {{/if}}
</TForm>

{{#if this.hasLearningPlan}}
  <h2>
    Monthly progress notes
  </h2>
  <p>
    Add notes below to comment on the student's learning progress, or to identify any needed interventions.
  </p>

  <NotesList
    @notable={{this.learningPlan}}
  />
{{/if}}

