<div class="bg-white" data-test-notes-list>
  <div class="relative max-w-lg mx-auto lg:max-w-7xl">
    {{#unless this.disabled}}
      <button
        type="button"
        class="flex content-center hover:underline"
        onclick={{fn this.showAdd}}
      >
        <FaIcon @size="xs" @icon="plus" class="text-gray-400 hover:text-gray-800" />
        <span class="ml-2">Add a note</span>
      </button>
    {{/unless}}
    <div class="markdown-container">
      {{#each this.notes as |note|}}
        <NotesList::Item
          @note={{note}}
          @expanded={{true}}
          @editNote={{fn this.showEdit note}}
        />
      {{/each}}
    </div>
  </div>
</div>

{{#if this.noteToEdit}}
  <ModalDialog
    @containerClass="pointer-events-auto w-full h-full rounded-none md:w-3/4 md:h-3/4 lg:w-5/8 lg:h-1/2"
    @translucentOverlay={{true}}
    @overlayClass="pointer-events-none"
  >
    <TForm
      class="w-full h-full"
      @validator={{this.validator}}
      @model={{this.noteToEdit}}
      @save={{fn this.save}}
      @reportError={{fn this.reportError}}
      as |form|
    >
      <fieldset>
        <label for="edit-note" class="font-bold text-gray-900">
          Notes from
          {{full-name this.creator}}
          on
          <DateTime @date={{this.noteToEdit.attributes.createdOn}} />
        </label>
        <textarea
          autofocus
          name="note"
          onchange={{action "onChange" target=form}}
          class="h-48"
        >{{form.pojo.note}}</textarea>
      </fieldset>

      <TFormActionsRow
        @submitCaption="Save note"
        @disabled={{this.isDisabled}}
      >
        <button
          type="button"
          class="button"
          onclick={{action 'cancelEdit'}}
          disabled={{this.loading}}
        >
          Close
        </button>
      </TFormActionsRow>
    </TForm>
  </ModalDialog>
{{/if}}