<div class="bg-white pt-4 pb-6">
  <div class="relative max-w-lg mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">
    <div>
      {{#unless disabled}}
        <a
          href="#"
          class="text-gray-700 hover:text-gray-800"
          onClick={{action "showAdd"}}
        >
          <FaIcon @icon="plus" @prefix="fal" />
          Add a note
        </a>
      {{/unless}}
    </div>
    <div class="markdown-container mt-6 grid gap-4 lg:gap-8 lg:grid-cols-2">
      {{#each sortedNotes as |note|}}
        <NotesList::Item
          @note={{note}}
          @expanded={{true}}
          @editNote={{fn this.showEdit note}}
        />
      {{/each}}
    </div>
  </div>
</div>

{{#if showDialog}}
  <ModalDialog
    @containerClass="pointer-events-auto w-full lg:w-1/2"
    @translucentOverlay={{true}}
    @overlayClass="pointer-events-none"
  >
    <form class="grid w-full">
      <fieldset>
        <label for="edit-note" class="font-bold text-gray-900">
          Notes from {{this.noteAuthor}} on <DateTime @date={{this.note.attributes.createdOn}} />
        </label>
        <textarea
          name="notess"
          {{on "input" (fn this.updateNoteText)}}
        >{{this.noteText}}</textarea>
      </fieldset>
      <EditSaveCancel
        @disabled={{@disabled}}
        @editing={{true}}
        @onCancel={{action 'cancelEdit'}}
      />
    </form>
  </ModalDialog>
{{/if}}