<nav class="bg-white px-4 py-3 flex items-center justify-between sm:px-6" aria-label="Pagination">
  <div class="hidden sm:block">
    <div class="text-gray-700">
      Showing
      <span class="font-medium">
        {{numeric this.rangeStart}}
      </span>
      to
      <span class="font-medium">
        {{numeric this.rangeEnd}}
      </span>
      of
      <span class="font-medium">
        {{numeric @totalCount}}
      </span>
      {{itemName}}
    </div>
  </div>

  {{#unless this.hidePrevNextControls}}
    <div class="flex-1 flex justify-between sm:justify-end" data-test-prev-next>
      <LinkTo
        @route={{this.router.currentRouteName}}
        @query={{this.prevQuery}}
        @disabled={{this.prevDisabled}}
        class="button"
        data-test-prev
      >
        Previous
      </LinkTo>

      <LinkTo
        @route={{this.router.currentRouteName}}
        @query={{this.nextQuery}}
        @disabled={{this.nextDisabled}}
        class="button"
        data-test-next
      >
        Next
      </LinkTo>
    </div>
  {{/unless}}
</nav>
