<form onsubmit={{fn this.onSubmit}}>
  <fieldset>
    <p>
      <FormInput @error={{this.errors.name}} @showError={{this.showErrors}} @label="Category name">
        <input
          value={{this.pojo.name}}
          name="name"
          type="text"
          onchange={{action "onChange"}}
        >
      </FormInput>
    </p>
  </fieldset>
  <fieldset>
    <p>
      <FormInput @for="category-public">
        <input
          id="category-public"
          type="checkbox"
          name="public"
          checked={{this.pojo.public}}
          onchange={{action "toggleValue" "public"}}
        >
        Show in catalog?
      </FormInput>
    </p>
    <p>
      <FormInput @error={{this.errors.name}} @showError={{this.showErrors}} @label="Reporting">
        <TSelect
          name="reporting"
          @value={{this.pojo.reporting}}
          @optionsList={{this.reportingOptions}}
          @onchange={{action "onChange"}}
        />
      </FormInput>
    </p>
    <p>
      <FormInput @for="homeroom">
        <input
          id="homeroom"
          type="checkbox"
          name="homeroom"
          checked={{this.pojo.homeroom}}
          onchange={{action "toggleValue" "homeroom"}}
        >
        Homeroom?
      </FormInput>
    </p>
    <p>
      <FormInput @error={{this.errors.sequence}} @showError={{this.showErrors}} @label="Sequence group">
        <t-help>Use this number to group related categories together</t-help>
        <input
          type="number"
          name="sequence"
          value={{this.pojo.sequence}}
          onchange={{action "onChange"}}
        >
      </FormInput>
    </p>
  </fieldset>
  <TFormActionsRow @disabled={{this.disabled}}>
    <LinkTo @route="settings-contract-categories.index" class="button">
      Cancel
    </LinkTo>
  </TFormActionsRow>
</form>
