<fieldset onchange={{action "onChange" }}>
  <p>
    <FormInput @error={{errors.category}} @showError={{showErrors}} @label="Category">
      <TSelect
        @optionsList={{categories}}
        @value={{pojo.category}}
        @prompt="Select a category"
        name="category"
      />
    </FormInput>
  </p>
  <p>
    <FormInput @error={{errors.seq}} @showError={{showErrors}} @label="Sequence">
      <input
        value={{pojo.seq}}
        name="seq"
        type="text"
      >
    </FormInput>
  </p>
  <p>
    <FormInput @error={{errors.ealr}} @showErrors={{showErrors}} @for="ealr" @label="Description">
      <textarea
        name="ealr"
      >
        {{pojo.ealr}}
      </textarea>
    </FormInput>
  </p>
</fieldset>

<TFormActionsRow @disabled={{disabled}}>
  <LinkTo @route="settings-learning-requirements" class="button">
    Cancel
  </LinkTo>
</TFormActionsRow>

