<fieldset>
  <p>
    <FormInput @error={{errors.name}} @showError={{showErrors}} @label="Name">
      <input
        type="text"
        name="name"
        value={{pojo.name}}
        autofocus
        onchange={{action "onChange"}}
      >
    </FormInput>
  </p>
  <p>
    <FormInput @label="Status">
      <TSelect
        @optionsList={{statusOptions}}
        @value={{pojo.status}}
        name="status"
        @onchange={{action "onChange"}}
      />
    </FormInput>
  </p>
  <p>
    <FormInput @error={{errors.notes}} @showError={{showErrors}} @label="Notes">
      <textarea
        name="notes"
        value={{pojo.notes}}
        onchange={{action "onChange"}}
      />
    </FormInput>
  </p>
  <p>
    <FormInput @label="Requirement type">
      <TSelect
        @optionsList={{requirementTypeOptions}}
        @value={{requirementType}}
        name="requirementType"
        @onchange={{action (mut pojo.requirementType)}}
      />
    </FormInput>
  </p>
</fieldset>

<fieldset>
  <p>
    <FormInput @error={{errors.parent}} @showError={{showErrors}} @label="Parent requirement">
      <TSelect
        @value={{parentId}}
        @prompt="Select a requirement"
        @optionsList={{parentOptions}}
        name="parentId"
        @onchange={{action (mut parentId)}}
      />
    </FormInput>
  </p>
</fieldset>

<TFormActionsRow @disabled={{disabled}}>
  <LinkTo @route="settings-graduation-plan-requirements" class="button">
    Cancel
  </LinkTo>
</TFormActionsRow>
