<fieldset onchange={{action "onChange" }}>
  <p>
    <FormInput @error={{this.errors.category}} @showError={{this.showErrors}} @label="Category">
      <TSelect
        @optionsList={{this.categories}}
        @value={{this.pojo.category}}
        @prompt="Select a category"
        name="category"
      />
    </FormInput>
  </p>
  <p>
    <FormInput @error={{this.errors.seq}} @showError={{this.showErrors}} @label="Sequence">
      <input
        value={{this.pojo.seq}}
        name="seq"
        type="text"
      >
    </FormInput>
  </p>
  <p>
    <FormInput @error={{this.errors.ealr}} @showErrors={{this.showErrors}} @for="ealr" @label="Description">
      <textarea
        name="ealr"
      >        {{this.pojo.ealr}}      </textarea>
    </FormInput>
  </p>
</fieldset>

<TFormActionsRow @disabled={{this.disabled}}>
  <LinkTo @route="settings-learning-requirements" class="button">
    Cancel
  </LinkTo>
</TFormActionsRow>

