<Table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      {{#each this.months as |month|}}
        <th data-test-term-month>
          <DateTime @date={{month}} @format="MMM" />
        </th>
      {{/each}}
    </tr>
  </thead>
  {{#each this.enrollments as |enrollment|}}
    <StatusByContract::Row @enrollment={{enrollment}} @statusHash={{this.statusHash}} @notesHash={{this.notesHash}} @months={{this.months}} />
  {{/each}}
</Table>
