<CheckEmpty
  @count={{this.assignments.length}}
  @noResultsMessage="No assignments defined for this contract."
>
  <Table>
    <thead>
      <tr>
        <th>Assignment</th>
        <th>Due</th>
        <th>Status</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.sortedAssignments as |assignment|}}
        <StatusByEnrollmentAssignments::Row @enrollment={{this.enrollment}} @assignment={{assignment}} @notesHash={{this.notesHash}} @turninsByAssignment={{this.turninsByAssignment}} />
      {{/each}}
    </tbody>
  </Table>
</CheckEmpty>

