<Table>
  <thead>
    <tr>
      <th>Coordinator</th>
      {{#each this.term.attributes.months as |month|}}
        <th data-test-term-month class="center">
          <DateTime @date={{month}} @format="MMM" />
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each this.coordinators as |coordinator|}}
      <StatusAllCoordinators::Row @coordinator={{coordinator}} @coordinatorsHash={{this.coordinatorsHash}} @months={{this.months}} @term={{this.term}} />
    {{else}}
      <tr class="no-results">
        <td>No coordinators</td>
      </tr>
    {{/each}}
  </tbody>
</Table>