<Table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      {{#each @term.attributes.months as |month|}}
        <th
          data-test-term-month
          title=<DateTime @date={{month}} @format= "compactTermMonth" />
        >
          <DateTime @date={{month}} @format= "MMM" />
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each @students as |student|}}
      <StatusByCoordinator::Row
        @student={{student}}
        @statusHash={{this.statusHash}}
        @term={{@term}}
      />
    {{else}}
      <tr class="no-results">
        <td>No students</td>
      </tr>
    {{/each}}
  </tbody>
</Table>