<Table>
  <thead>
    <tr>
      <th>Coordinator</th>
      {{#each term.attributes.months as |month|}}
        <th data-test-term-month class="center" title=<DateTime @date={{month}} @format= "compactTermMonth" />><DateTime @date={{month}} @format= "MMM" /></th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each coordinators as |coordinator|}}
      <StatusAllCoordinators::Row @coordinator={{coordinator}} @coordinatorsHash={{coordinatorsHash}} @months={{months}} @term={{term}} />
    {{else}}
      <tr class="no-results">
        <td>No coordinators</td>
      </tr>
    {{/each}}
  </tbody>
</Table>