<Table>
  <thead>
    <tr>
      <th class="class">Class</th>
      <th class="status">Status</th>
      {{#each months as |month|}}
        <th class="month"><DateTime @date={{month}} @format="MMM" /></th>
      {{/each}}
    </tr>
  </thead>

  {{#each enrollmentsList as |enrollment|}}
    <StatusByStudentEnrollments::Row @enrollment={{enrollment}} @statusHash={{statusHash}} @notablesHash={{notablesHash}} @months={{months}} />
  {{/each}}
</Table>