<ul class="filter">
  <li class="filter-item" data-test-name>
    <input
      name="name"
      type="text"
      placeholder="Name"
      value={{this.queryParams.name}}
      autocomplete="off"
      onchange={{action "inputChange"}}
    >
  </li>
  {{#if this.showRole}}
    <li class="filter-item" data-test-role>
      <TSelect
        @optionsList={{this.roleOptions}}
        @value={{this.queryParams.role}}
        name="role"
        @prompt="All roles"
        @onchange={{action "onSelect"}}
      />
    </li>
  {{/if}}
  {{#if this.showStatus}}
    <li class="filter-item" data-test-status>
      <TSelect
        @optionsList={{this.statusOptions}}
        @value={{this.queryParams.status}}
        name="status"
        @prompt="Any status"
        @onchange={{action "onSelect"}}
      />
    </li>
  {{/if}}
  <li class="filter-item" data-test-coordinator>
    <TSelect
      @optionsList={{this.coordinatorOptions}}
      @value={{this.queryParams.coordinator}}
      name="coordinator"
      @prompt="All coordinators"
      @optionValuePath="id"
      @optionNamePath="name"
      disabled={{this.isStaff}}
      @onchange={{action "onSelect"}}
    />
  </li>
  <li class="filter-item" data-test-grade>
    <TSelect
      @optionsList={{this.grades}}
      @value={{this.queryParams.grade}}
      name="grade"
      @prompt="Any grade"
      disabled={{this.isStaff}}
      @onchange={{action "onSelect"}}
    />
  </li>
  <li class="filter-item" data-test-year>
    <TSelect
      @optionsList={{this.schoolYearsReversed}}
      @value={{this.queryParams.schoolYear}}
      name="schoolYear"
      prompt="Any year"
      @disabled={{this.isStaff}}
      @onchange={{action "onSelect"}}
    />
  </li>
  <li class="filter-item" data-test-submit>
    <button type="submit" class="button">
      Find
    </button>
  </li>
</ul>