<nav class="toolbar flex flex-row items-center mb-4">
  {{#if hasBlock}}
    {{yield this}}
  {{else}}
    <LinkTo @route="tiny" class="block no-underline pr-8">
      Nova
    </LinkTo>
    {{#if user}}
      <ul class="flex list-reset">
        <TinyToolbar::Item @currentRoute={{currentRoute}} @route="status-all-coordinators.index" @label="Coordinators" @disabled={{disabled}} />
        <TinyToolbar::Item @currentRoute={{currentRoute}} @route="contracts.index" @label="Contracts" @disabled={{disabled}} />
        <TinyToolbar::Item @currentRoute={{currentRoute}} @route="students.index" @label="Students" @disabled={{disabled}} />
        {{#if userIsAdmin}}
          <TinyToolbar::Item @currentRoute={{currentRoute}} @route="admin" @label="Admin" @disabled={{disabled}} />
        {{/if}}    
      </ul>
    {{/if}}
    <ul class="flex list-reset flex-grow flex-row justify-end">
      {{#if user}}
        <li>
          <LinkTo @route="user-settings">
            {{full-name user "first-last"}}
          </LinkTo>
        </li>
        <li class="ml-6">
          <a
            data-test-signout
            role="button"
            onclick={{action "signOut"}}
            title="Sign out"
            href="#"
          >
            <FaIcon @icon="power-off" @size="1x" />
          </a>
        </li>
      {{else}}
        <li>
          <a
            data-test-signin
            role="button"
            onclick={{action "signIn"}}
            href="#"
          >
            Sign in
          </a>
        </li>
      {{/if}}
    </ul>
  {{/if}}
</nav>