<tr data-test-contracts-list-row>
  <td>
    <LinkTo @route="contract" @model={{contract.id}}>
      {{contract.attributes.name}}
    </LinkTo>
  </td>
  <td>
    <NumberOr @number={{contract.relationships.enrollments.data.length}} />
  </td>
  <td>
    {{category.attributes.name}}
  </td>
  <td>
    {{full-name facilitator "first-last"}}
  </td>
  <td>
    {{term.attributes.name}}
  </td>
  <td>
    {{titleize contract.attributes.status}}
  </td>
  <td>
    <ul class="actions-list">
      <li class="actions-list-item status">
        <LinkTo @route="status-by-contract" @model={{contract.id}}>
          Status
        </LinkTo>
      </li>
      <li class="actions-list-item enrollments">
        <LinkTo @route="contract-enrollments" @model={{contract.id}}>
          Enrollments
        </LinkTo>
      </li>
      <li class="actions-list-item assignments">
        <LinkTo @route="contract-assignments" @model={{contract.id}}>
          Assignments
        </LinkTo>
      </li>
      <li class="actions-list-item attendance">
        <LinkTo @route="contract-attendance" @model={{contract.id}}>
          Attendance
        </LinkTo>
      </li>
    </ul>
  </td>
</tr>