<div class="flex items-end justify-between">
  <div>
    <label for="schoolYear" class="block text-sm font-medium text-gray-700">
      School year
    </label>
    <TSelect
      id="schoolYear"
      name="schoolYear"
      class="mt-1 block w-36 pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
      @optionsList={{this.years}}
      @onchange={{fn this.filterByYear}}
      @value={{this.yearAsNumber}}
    />
  </div>
  <LinkTo
    @route="settings-learning-plan-goals.new"
    @query={{this.yearQuery}}
    class="button"
  >
    Add a learning plan goal
  </LinkTo>
</div>

<SettingsLearningPlanGoals::List
  @year={{this.yearAsNumber}}
  @goals={{this.learningPlanGoals}}
/>
