<h2>{{full-name user}} ({{titleize user.attributes.role}})</h2>

<div class="flex hb-4">
  <AdminUserForm @staff={{staff}} @model={{user}} @save={{action "saveUser"}} @reportError={{action "reportError"}} @updateLogin={{action "updateLogin"}} />

  <AdminUserLogin @user={{user}} @createLogin={{action "createLogin"}} @updateLogin={{action "updateLogin"}} @destroyLogin={{action "destroyLogin"}} @getLogin={{action "getLogin"}} />
</div>