<h2>{{full-name this.user}} ({{titleize this.user.attributes.role}})</h2>

<div class="flex hb-4">
  <AdminUserForm
    @staff={{this.staff}}
    @model={{this.user}}
    @save={{action "saveUser"}}
    @reportError={{action "reportError"}}
    @updateLogin={{action "updateLogin"}}
  />

  <AdminUserLogin
    @user={{this.user}}
    @createLogin={{action "createLogin"}}
    @updateLogin={{action "updateLogin"}}
    @destroyLogin={{action "destroyLogin"}}
    @getLogin={{action "getLogin"}}
  />
</div>