<div class="w-full flex justify-between">
  <h1>Contracts</h1>

  <p>
    <LinkTo @route="contracts.new" class="btn">
      Add contract
    </LinkTo>
  </p>
</div>

<ContractsListFilter
  @queryParams={{this.queryParams}}
  @terms={{this.terms}}
  @schoolYears={{this.schoolYears}}
  @facilitators={{this.facilitators}}
  @categories={{this.categories}}
  @onchange={{action 'filterContracts'}}
/>

<CheckEmpty
  @count={{this.model.meta.count}}
  @noResultsMessage="No contracts were found with these filters"
  class="m-h-2"
>
  <CountParagraph
    @result={{this.model}}
    @name="contract"
  />

  <ContractsList
    @contracts={{this.model.data}}
  />

  <Pagination
    @totalCount={{this.model.meta.count}}
    @offset={{this.offset}}
    @limit={{this.limit}}
  />
</CheckEmpty>
