<div class="w-full flex justify-between align-middle">
  <h1>Contracts</h1>

  <LinkTo @route="contracts.new" class="block button button-primary">
    Add contract
  </LinkTo>
</div>

<ContractsListFilter
  @queryParams={{this.queryParams}}
  @terms={{this.terms}}
  @schoolYears={{this.schoolYears}}
  @facilitators={{this.facilitators}}
  @categories={{this.categories}}
  @onchange={{action 'filterContracts'}}
/>

<CheckEmpty
  @count={{model.meta.count}}
  @noResultsMessage="No contracts were found with these filters"
  class="m-h-2"
>
  <Pagination
    @itemName="contract"
    @totalCount={{this.model.meta.count}}
    @offset={{this.offset}}
    @limit={{this.limit}}
  />

  <ContractsList
    @contracts={{model.data}}
  />

  <Pagination
    @itemName="contract"
    @totalCount={{this.model.meta.count}}
    @offset={{this.offset}}
    @limit={{this.limit}}
  />
</CheckEmpty>
