<h2>New contract</h2>

<ContractAttributes
  @contract={{this.contract}}
  @updateContract={{action 'updateContract'}}
  @loading={{this.loading}}
  @isEditing={{true}}
  @cancelEditing={{fn this.redirectToIndex}}
  @isNew={{true}}
/>
