<tr data-test-enrollment-id={{enrollment.id}}>
  <td class="contract">  
    <div>
      <p>
        <LinkTo @route="status-by-enrollment" @models={{array contract.id enrollment.id}}>
          {{contract.attributes.name}}
        </LinkTo>
      </p>
      <p>
        {{full-name facilitator "first-last"}}
        /
        {{term.attributes.name}}
      </p>
      <CreditAssignments @creditAssignments={{creditAssignments}} />
    </div>
  </td>

  <td class="enrollment-status">
    {{enrollmentStatus}}
  </td>

  {{#each months as |month|}}
    <StatusByStudentEnrollments::StatusColumn @month={{month}} @statusHash={{statusHash}} @enrollment={{enrollment}} />
  {{/each}}
  
</tr>

<tr class="notes-row {{loadingNotes}}">
  <td colspan={{columnsCount}}>
    <NotesList @notes={{notes}} @notable={{enrollment}} />
  </td>
</tr>