<tr data-test-enrollment-id={{this.enrollment.id}}>
  <td class="contract">  
    <div>
      <p>
        <LinkTo @route="status-by-enrollment" @models={{array this.contract.id this.enrollment.id}}>
          {{this.contract.attributes.name}}
        </LinkTo>
      </p>
      <p>
        {{full-name this.facilitator "first-last"}}
        /
        {{this.term.attributes.name}}
      </p>
      <CreditAssignments @creditAssignments={{this.creditAssignments}} />
    </div>
  </td>

  <td class="enrollment-status">
    {{this.enrollmentStatus}}
  </td>

  {{#each this.months as |month|}}
    <StatusByStudentEnrollments::StatusColumn @month={{month}} @statusHash={{this.statusHash}} @enrollment={{this.enrollment}} />
  {{/each}}
  
</tr>

<tr class="notes-row {{this.loadingNotes}}">
  <td colspan={{this.columnsCount}}>
    <NotesList @notes={{this.notes}} @notable={{this.enrollment}} />
  </td>
</tr>