<td
  class="text-center {{if isException "text-red-500"}}"
  data-test-status-id={{status.id}}
  data-test-has-status={{hasStatus}}
  data-test-has-exception={{isException}}
>
  {{#if showStatus}}
    <LinkTo @route="status-by-student-for-coordinator" @model={{student.id}} @query={{hash schoolYear=schoolYear}} @title={{academicStatusName}}>
      {{statusAbbreviation}}
    </LinkTo>
  {{/if}}
</td>