<td
  data-test-status-id={{this.status.id}}
  data-test-has-status={{this.hasStatus}}
  data-test-has-exception={{this.isException}}
>
  {{#if this.showStatus}}
    <LinkTo
      class="{{if this.isException "text-red-500"}}"
      @route="status-by-student-for-coordinator"
      @model={{@student.id}}
      @query={{hash schoolYear=this.schoolYear}}
      @title={{this.academicStatusName}}
    >
      {{this.statusAbbreviation}}
    </LinkTo>
  {{/if}}
</td> 