<td>{{full-name @student}}</td>
<td>{{this.studentStatus}}</td>
{{#each @term.attributes.months as |month|}}
  <StatusByCoordinator::Column
    @student={{@student}}
    @month={{month}}
    @term={{@term}}
    @statusHash={{@statusHash}}
  />
{{/each}}