<td>{{full-name student}}</td>
<td>{{studentStatus}}</td>
{{#each months as |month|}}
  <StatusByCoordinator::Column @student={{student}} @month={{month}} @term={{term}} @studentHash={{studentHash}} />
{{/each}}