<status-by-student-row class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-bold text-gray-500">
      {{t-date @month "termMonth"}}
    </dt>
    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
        <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
          <div class="w-0 flex-1 flex items-center">
            Academic
          </div>
          <div class="ml-4 flex-shrink-0">
            {{this.academic}}
          </div>
        </li>
        <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
          <div class="w-0 flex-1 flex items-center">
            FTE hours
          </div>
          <div class="ml-4 flex-shrink-0">
            {{this.status.attributes.fteHours}}
          </div>
        </li>
        <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
          <div class="w-0 flex-1 flex items-center">
            Checkins
          </div>
          <div class="ml-4 flex-shrink-0">
            {{#if this.heldPeriodicCheckins}}
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            {{/if}}
          </div>
        </li>
      </ul>
    </dd>
  </div> 
  <NotesList
    class="notes-row w-full md:w-1/2 {{loadingNotes}}"
    @notes={{notes}}
    @notable={{status}}
  />
</status-by-student-row>
