<p>
  <TSelect
    @optionsList={{categories}}
    @onchange={{action (mut category)}}
    name="category"
    @value={{category}}
    @prompt="All categories"
  />
</p>

<LinkTo
  class="btn"
  @route="settings-competencies.new"
>
  Add a competency
</LinkTo>

{{#check-empty
  count=categoryCompetencies.length
  noResultsMessage="No entries in this category"
}}
  {{count-paragraph
    count=categoryCompetencies.length
    name="competency"
  }}
  <table class="t-table w-full" data-test-settings-competencies-list>
    <thead>
      <tr>
        <th>Sequence</th>
        <th>Category</th>
        <th>Competency</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each categoryCompetencies as |competency|}}
        <tr>
          <td>
            {{competency.attributes.seq}}
          </td>
          <td>
            {{competency.attributes.category}}
          </td>
          <td>
            {{competency.attributes.competency}}
          </td>
          <th class="text-right">
            <LinkTo
              @route="settings-competencies.edit"
              @model={{competency}}
            >
              Edit
            </LinkTo>
            <button
              class="link-button"
              type="button"
              onclick={{action 'deleteCompetency' competency}}
            >
              Delete
            </button>
          </th>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/check-empty}}

{{#if showDialog}}
  <ModalDialog>
    <h3>Delete {{competency.attributes.category}} {{competency.attributes.seq}}</h3>
    <p>Are you sure you want to delete this?</p>
    <footer>
      <button
        class="btn"
        onclick={{action "confirmDelete" competency}}
        type="submit"
      >
        Delete
      </button>
      <button
        type="button"
        onclick={{action "cancelDelete"}}
      >
        Cancel
      </button>
    </footer>
  </ModalDialog>
{{/if}}
