<h2>New competency</h2>

<SettingsCompetencyForm
  @model={{this.model}}
  @categories={{this.categories}}
  @competencies={{this.competencies}}
  @save={{action "updateCompetency"}}
  @reportError={{action "reportError"}}
/>
