<tr data-test-enrollment-id="{{this.enrollment.id}}">
  <td>
    {{full-name this.participant}}
  </td>
  <td>
    {{titleize this.enrollmentStatus}}
  </td>
  <td>
    <CreditAssignments
      @creditable={{this.enrollment}}
      @creditAssignments={{this.creditAssignments}}
      @disabled={{this.enrollmentIsDisabled}}
    />
  </td>
  <td>
    <NotesList
      @notes={{this.notes}}
      @notable={{this.enrollment}}
    />
  </td>
  <td>
    <ContractEnrollmentsList::Status
      @disabled={{this.enrollmentIsDisabled}}
      @enrollment={{this.enrollment}}
      @deleteEnrollment={{action "deleteEnrollment"}}
      @updateEnrollment={{action "updateEnrollment"}}
    />
  </td>
</tr>
