{{#if disabled}}
  {{titleize enrollmentStatus}}
{{else}}
  {{#if isClosed}}
    <li>
      <TLink
        @action={{action "update" "approve"}}
        disabled={{loading}}
        data-test-command="approve"
      >
        Reinstate
      </TLink>
    </li>
    {{#if isCanceled}}
      <li>
        <TLink
          @action={{action "delete"}}
          disabled={{loading}}
          data-test-command="delete"
        >
          Delete
        </TLink>
      </li>
    {{/if}}
  {{/if}}

  {{#if isPending}}
    <li>
      <TLink
        @action={{action "update" "approve"}}
        disabled={{loading}}
        data-test-command="approve"
      >
        Approve
      </TLink>
    </li>
  {{/if}}

  {{#if isEnrolled}}
    <li>
      <TLink
        @action={{action "update" "fulfill"}}
        disabled={{loading}}
        data-test-command="fulfill"
      >
        Fulfill
      </TLink>
    </li>
  {{/if}}

  {{#if canCancel}}
    <li>
      <TLink
        @action={{action "update" "cancel"}}
        disabled={{loading}}
        data-test-command="cancel"
      >
        Cancel
      </TLink>
    </li>
  {{/if}}

  {{#if isFinalized}}
    {{#if isCanceled}}
      <li>
        <TLink
          @action={{action "update" "approve"}}
          disabled={{loading}}
          data-test-command="approve"
        >
          Reinstate
        </TLink>
      </li>
    {{/if}}
  {{/if}}
{{/if}}
