{{#if this.disabled}}
  {{titleize this.enrollmentStatus}}
{{else}}
  {{#if this.isClosed}}
    <li>
      <TLink
        @action={{action "update" "approve"}}
        disabled={{this.loading}}
        data-test-command="approve"
      >
        Reinstate
      </TLink>
    </li>
    {{#if this.isCanceled}}
      <li>
        <TLink
          @action={{action "delete"}}
          disabled={{this.loading}}
          data-test-command="delete"
        >
          Delete
        </TLink>
      </li>
    {{/if}}
  {{/if}}

  {{#if this.isPending}}
    <li>
      <TLink
        @action={{action "update" "approve"}}
        disabled={{this.loading}}
        data-test-command="approve"
      >
        Approve
      </TLink>
    </li>
  {{/if}}

  {{#if this.isEnrolled}}
    <li>
      <TLink
        @action={{action "update" "fulfill"}}
        disabled={{this.loading}}
        data-test-command="fulfill"
      >
        Fulfill
      </TLink>
    </li>
  {{/if}}

  {{#if this.canCancel}}
    <li>
      <TLink
        @action={{action "update" "cancel"}}
        disabled={{this.loading}}
        data-test-command="cancel"
      >
        Cancel
      </TLink>
    </li>
  {{/if}}

  {{#if this.isFinalized}}
    {{#if this.isCanceled}}
      <li>
        <TLink
          @action={{action "update" "approve"}}
          disabled={{this.loading}}
          data-test-command="approve"
        >
          Reinstate
        </TLink>
      </li>
    {{/if}}
  {{/if}}
{{/if}}
