<h2>
  {{full-name this.coordinator "first-last"}}
</h2>

<Pagination
  @totalCount={{this.students.length}}
  @singularName="coordinatee"
/>

<StatusByCoordinator @students={{this.students}} @term={{this.term}} @statuses={{this.statuses}} />