<h2>
  {{full-name coordinator "first-last"}}
</h2>

<Pagination
  @totalCount={{students.length}}
  @singularName="coordinatee"
/>

<StatusByCoordinator @students={{students}} @term={{term}} @statuses={{statuses}} />