<tr data-test-student-id={{student.attributes.id}} data-test-students-list-row>
  <td data-test-student-name>
    <LinkTo @route="status-by-student" @model={{student.id}}>
      {{full-name student}}
    </LinkTo>
  </td>
  <td data-test-coordinator-name>
    {{full-name coordinator "first-last"}}
  </td>
  <td data-test-district-grade>
    {{student.attributes.districtGrade}}
  </td>
  <td>
    <DateTime @date={{student.attributes.dateActive}} @format="M-D-YY" /> -
    {{#if student.attributes.dateInactive}}
      <DateTime @date={{student.attributes.dateInactive}} @format="M-D-YY" />
    {{else}}
      present
    {{/if}}
  </td>
  <td>
    <ul class="actions-list">
      <li class="actions-list-item">
        <LinkTo @route="status-by-student" @model={{student.id}}>COOR report</LinkTo>
      </li>
      <li class="actions-list-item">
        <LinkTo @route="student-transcript" @model={{student.id}}>Status</LinkTo>
      </li>
      <li class="actions-list-item">
        <LinkTo @route="student-learning-plan" @model={{student.id}}>Learning plan</LinkTo>
      </li>
      <li class="actions-list-item">
        <LinkTo @route="student-credits" @model={{student.id}}>Credits</LinkTo>
      </li>
      <li class="actions-list-item">
        <LinkTo @route="student-graduation-plan" @model={{student.id}}>Graduation plan</LinkTo>
      </li>
    </ul>
  </td>
</tr>
