<tr>
  <td class="text-center">
    {{#if creditAssignment.relationships.creditTransmittalBatch.data.id}}
      <FaIcon
        @icon="check"
        data-test-credit-transmittal-batch-id={{creditAssignment.relationships.creditTransmittalBatch.data.id}}
      />
    {{/if}}
  </td>
  <td>
    {{courseName}}
    {{#if childCreditAssignments}}
      <CreditAssignments @creditAssignments={{childCreditAssignments}} />
    {{/if}}
  </td>
  <td>
    {{term.attributes.name}}
  </td>
  <td class="text-right">
    {{creditHours}}
  </td>
  <td class="text-right">
    <DateTime @date={{creditAssignment.attributes.enrollmentFinalizedOn}} @format= "M/D/YYYY" />
  </td>
  <td
    class="text-right"
    title={{creditAssignment.attributes.districtFinalizeApprovedBy}}
  >
    <DateTime @date={{creditAssignment.attributes.districtFinalizeApprovedOn}} @format= "M/D/YYYY" />
  </td>
</tr>
