<tr>
  <td class="text-center">
    {{#if this.creditAssignment.relationships.creditTransmittalBatch.data.id}}
      <FaIcon
        @icon="check"
        data-test-credit-transmittal-batch-id={{this.creditAssignment.relationships.creditTransmittalBatch.data.id}}
      />
    {{/if}}
  </td>
  <td>
    {{this.courseName}}
    {{#if this.childCreditAssignments}}
      <CreditAssignments @creditAssignments={{this.childCreditAssignments}} />
    {{/if}}
  </td>
  <td>
    {{this.term.attributes.name}}
  </td>
  <td class="text-right">
    {{this.creditHours}}
  </td>
  <td class="text-right">
    <DateTime @date={{this.creditAssignment.attributes.enrollmentFinalizedOn}} @format="M/D/YYYY" />
  </td>
  <td
    class="text-right"
    title={{this.creditAssignment.attributes.districtFinalizeApprovedBy}}
  >
    <DateTime @date={{this.creditAssignment.attributes.districtFinalizeApprovedOn}} @format="M/D/YYYY" />
  </td>
</tr>
