<div class="flex">
  <button
    type="button"
    title="Previous"
    disabled={{this.disablePrevious}}
    onclick={{fn @onSelect this.previousParticipant.value}}
  >
    <FaIcon @icon="caret-left" @size="2x" />
  </button>

  <TSelect
    @optionsList={{@navigationList}}
    @onchange={{@onSelect}}
    @value={{@current.id}}
    disabled={{this.disabled}}
  />

  <button
    type="button"
    title="Next"
    disabled={{this.disableNext}}
    onclick={{fn @onSelect this.nextParticipant.value}}
  >
    <FaIcon @icon="caret-right" @size="2x" />
  </button>
</div>


