<tr data-test-contract-attendance-roll-row data-test-enrollment-id={{this.enrollment.id}}>
  <td>
    {{full-name this.student}}
  </td>
  <td>
    <TSelect
      @value={{this.meetingParticipant.attributes.contactType}}
      name="contactType"
      @optionsList={{this.contactTypeOptions}}
      @onchange={{action "setMeetingType"}}
    />
  </td>
  {{#each this.participationOptions as |option|}}
    <td class="center" data-test-participation={{option.value}}>
      <ValueButton @name="participation" @optionValue={{option.value}} @value={{this.meetingParticipant.attributes.participation}} @onchange={{action "setParticipation" option.value}} @onkeydown={{action "setParticipationByKey" option.value}} />
    </td>
  {{/each}}
  <td>
    <NotesList @notes={{this.notes}} @notable={{this.meetingParticipant}} @expanded={{true}} />
  </td>
</tr>