<td class="text-center {{if isException "text-red-500"}}" data-test-month={{month}} data-test-status-id={{status.id}}>
  {{#if showStatus}}
    <LinkTo @route="status-by-enrollment" @model={{enrollment.id}} @query={{hash month=month}}>
      {{statusAbbreviation}}
      {{#if status}}
        {{#if status.attributes.metFteRequirements}}
          M
        {{else}}
          U
        {{/if}}
      {{/if}}
    </LinkTo>
  {{/if}}
</td>
