<td data-test-month={{this.month}} data-test-status-id={{this.status.id}}>
  {{#if this.showStatus}}
    <LinkTo class="{{if this.isException "text-red-500"}}" @route="status-by-enrollment" @model={{this.enrollment.id}} @query={{hash month=this.month}}>
      {{this.statusAbbreviation}}
      {{#if this.status}}
        {{#if this.status.attributes.metFteRequirements}}
          M
        {{else}}
          U
        {{/if}}
      {{/if}}
    </LinkTo>
  {{/if}}
</td>
