<tr data-test-status-row data-test-status-id={{this.status.id}}>
  <td>{{full-name this.participant}}</td>
  <td>{{titleize this.enrollmentStatus}}</td>
  {{#each this.months as |month|}}
    <StatusByContract::Column @student={{this.participant}} @enrollment={{this.enrollment}} @month={{month}} @term={{this.term}} @enrollmentStatusHash={{this.enrollmentStatusHash}} />
  {{/each}}
</tr>
<tr data-test-status-id={{this.status.id}} class="notes-row {{this.loadingNotes}}">
  <td colspan={{this.columnCount}}>
    {{#unless this.loadingNotes}}
      <NotesList @notes={{this.notes}} />
    {{/unless}}
  </td>
</tr>