<p>
  <LinkTo @route="settings-contract-categories.new" class="btn">
    Add a category
  </LinkTo>
</p>

{{#check-empty
  count=model.meta.count
  noResultsMessage="No categories were found"
}}
  <CountParagraph @result={{model}} @name="contract category" />
  <table class="t-table t-table-bordered" data-test-categories-list>
    <thead>
      <tr>
        <th>Category</th>
        <th>Active contracts</th>
        <th>Catalog?</th>
        <th>Reporting</th>
        <th>Group</th>
      </tr>    
    </thead>
    <tbody>
      {{#each categoriesList as |category|}}
        <SettingsContractCategories::Row @category={{category}} as |row|>
          <tr>
            <td>
              <LinkTo @route="settings-contract-category" @model={{category}}>
                {{row.name}}
              </LinkTo>
            </td>
            <td>
              {{t-number category.attributes.activeContractsCount}}
            </td>
            <td>
              {{#if category.attributes.public}}
                Y
              {{/if}}
            </td>
            <td>
              {{row.reportingName}}
            </td>
            <td>
              {{category.attributes.sequence}}
            </td>
          </tr>
        </SettingsContractCategories::Row>
      {{/each}}
    </tbody>
  </table>
{{/check-empty}}