<td>
  <LinkTo @route="status-by-coordinator" @model={{coordinator.id}}>
    {{full-name coordinator}}
  </LinkTo>
</td>
{{#each term.attributes.months as |month|}}
  <StatusAllCoordinators::Column @coordinatorsHash={{coordinatorsHash}} @coordinator={{coordinator}} @month={{month}} @term={{term}} />
{{/each}}