<td>
  <LinkTo @route="status-by-coordinator" @model={{this.coordinator.id}}>
    {{full-name this.coordinator}}
  </LinkTo>
</td>
{{#each this.term.attributes.months as |month|}}
  <StatusAllCoordinators::Column @coordinatorsHash={{this.coordinatorsHash}} @coordinator={{this.coordinator}} @month={{month}} @term={{this.term}} />
{{/each}}