{{#check-empty
  count=model.meta.count
  noResultsMessage="No credits were found with these filters"
}}
  <Pagination
    @totalCount={{this.model.meta.count}}
    @singularName="credit"
  />
  <Table data-test-settings-credits-list>
    <thead>
      <tr>
        <th>Name</th>
        <th>Course ID</th>
        <th>Type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each credits as |credit|}}
        <tr>
          <td>
            <LinkTo @route="settings-credit.edit" @model={{credit.id}}>
              {{credit.attributes.courseName}}
            </LinkTo>
          </td>
          <td>{{credit.attributes.courseId}}</td>
          <td>{{titleize credit.attributes.courseType}}</td>
          <td>{{titleize credit.attributes.status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </Table>
{{/check-empty}}