<tr data-test-assignment-id={{this.assignment.id}}>
  <td data-test-assignment-name>
    <h4>
      {{this.assignment.attributes.name}}
    </h4>
    {{#if this.assignment.attributes.description}}
      <p>
        {{this.assignment.attributes.description}}
      </p>
    {{/if}}
  </td>
  <td data-test-assignment-due>
    <DateTime @date={{this.assignment.attributes.dueDate}} @format="MM/DD/YY" />
  </td>
  <td data-test-assignment-status>
    {{titleize this.status}}
  </td>
  <td data-test-assignment-notes>
    <NotesList @notes={{this.notes}} @notable={{this.turnin}} @expanded={{true}} />
  </td>
</tr>