<li
  class="req-map-item {{this.dragStateClass}}"
  data-test-requirement-id={{this.requirement.id}}
  ondragover={{action "onDragOver"}}
  ondragenter={{action "onDragEnter"}}
  ondragleave={{action "onDragLeave"}}
  ondrop={{action "onDrop"}}
>
  <div class="flex items-center">
    <h4 class="my-1 flex-none">{{this.requirement.attributes.name}}</h4>
    <div
      data-test-sum={{this.sum}}
      class="ml-4 flex-none"
    >
      {{#if this.isCredit}}
        {{#if this.showSum}}
          <span class="text-lg text-purple-500 font-semibold">{{this.sum}}</span>
        {{else}}
          <span class="text-purple-500">0</span>
        {{/if}}
      {{else}}
        {{#if this.requirementHash.mapping}}
          {{#if this.requirementHash.mapping.attributes.dateCompleted}}
            <span class="font-semibold text-purple-500">
              <FaIcon @icon="check" />
              <DateTime @date={{this.requirementHash.mapping.attributes.dateCompleted}} @format="M/D/YY" />
            </span>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
    {{#unless this.isCredit}}
      <div class="flex-grow text-right">
        <a
          {{action "editMapping"}}
          href="#"
        >
          Edit
        </a>
      </div>
    {{/unless}}
  </div>

  {{#if this.requirement.attributes.notes}}
    <div class="my-2">
      {{t-markdown this.requirement.attributes.notes}}
    </div>
  {{/if}}

  {{#if this.isCredit}}
    <CreditAssignments @creditAssignments={{this.requirementHash.creditAssignments}} as |params|>
      <a
        {{action "removeMapping" params.creditAssignment}}
        title="Remove"
        href="#"
        class="only-drop-target-excluded"
      >
        <FaIcon @icon="circle"/>
      </a>
    </CreditAssignments>
  {{/if}}

  {{#if this.childRequirements}}
    <GraduationPlan::RequirementsMap @requirementType={{this.requirementType}} @mappings={{this.mappings}} @showChildren={{true}} @requirements={{this.childRequirements}} @mappingsHash={{this.mappingsHash}} @draggedCreditAssignment={{this.draggedCreditAssignment}} @addMapping={{this.addMapping}} @removeMapping={{this.removeMapping}} />
  {{/if}}

  {{#if this.requirementHash.mapping.attributes.notes}}
    <hrule class="block border-t border-gray-300 mt-4 mb-2" />
    <p>
      {{this.requirementHash.mapping.attributes.notes}}
    </p>
  {{/if}}
</li>