<tr
  data-test-credit-id={{this.creditAssignment.id}}
  data-test-credit-item
>
  <td class="align-center">
    <input
      type="checkbox"
      checked={{this.selected}}
      onchange={{action "selectCredit"}}
      disabled={{this.selectionDisabled}}
    >
  </td>
  <td>
    <TLink
      class="no-underline-not-working"
      @action={{action "selectCredit"}}
    >
      {{this.courseName}}
    </TLink>
    {{#if this.hasChildren}}
      <CreditAssignments
        @creditAssignments={{this.childCreditAssignments}}
      />
    {{/if}}
    <NotesList
      @notes={{this.notes}}
      @notable={{this.creditAssignment}}
      @expanded={{true}}
    />
  </td>
  <td>
    {{this.term.attributes.name}}
  </td>
  <td class="text-right">
    {{this.creditHours}}
  </td>
  <td class="text-right">
    <DateTime @date={{this.creditAssignment.attributes.enrollmentFinalizedOn}} @format="M/D/YYYY" />
  </td>
  <td
    class="text-right"
    title={{this.creditAssignment.attributes.districtFinalizeApprovedBy}}
  >
    <DateTime @date={{this.creditAssignment.attributes.districtFinalizeApprovedOn}} @format="M/D/YYYY" />
  </td>
  <td>
    {{#if this.showSplit}}
      <button
        data-test-split-link
        class="button"
        type="button"
        {{action "splitCredit"}}
      >
        <FaIcon @icon="columns" />
        Split
      </button>
    {{/if}}
    {{#if this.showApproveForTransmittal}}
      <button
        data-test-approve-link
        class="button"
        type="button"
        {{action "approveCredit"}}
      >
        {{#if this.isApproved}}
          <FaIcon @icon="times" data-test-district-unapprove class="text-red-700 mr-2" />
          Un-approve
        {{else}}
          <FaIcon @icon="check" data-test-district-approve class="text-green-700 mr-2" />
          Approve
        {{/if}}
      </button>
    {{/if}}
  </td>
</tr>
