<h2>
  New term
</h2>

<AdminTermForm @model={{this.term}} @schoolYear={{this.schoolYear}} @schoolYears={{this.schoolYears}} @reportingBaseMonth={{this.reportingBaseMonth}} @save={{action "saveTerm"}} @reportError={{action "reportError"}} />
