<p>
  <button
    class="button"
    onclick={{action "toggleNew"}}
    type="button"
  >
    Take attendance
  </button>
</p>

{{#if showNew}}
  <ModalDialog @onClose={{action "toggleNew"}} @translucentOverlay={{true}}>
    <ContractAttendanceNew @meetings={{meetings}} @today={{today}} @createMeeting={{action "createMeeting"}} />
  </ModalDialog>
{{/if}}

{{#check-empty
  count=model.meta.count
  noResultsMessage="No attendance taken as of yet"
}}
  <Pagination
    @totalCount={{this.model.meta.count}}
    @singularName="meeting"
  />
  <ContractAttendanceList
    @contract={{contract}}
  />
{{/check-empty}}