<p>
  <button
    class="button"
    onclick={{action "toggleNew"}}
    type="button"
  >
    Take attendance
  </button>
</p>

{{#if showNew}}
  <ModalDialog @onClose={{action "toggleNew"}} @translucentOverlay={{true}}>
    <ContractAttendanceNew @meetings={{meetings}} @today={{today}} @createMeeting={{action "createMeeting"}} />
  </ModalDialog>
{{/if}}

{{#check-empty
  count=model.meta.count
  noResultsMessage="No attendance taken as of yet"
}}
  <Pagination @result={{model}} @name="meeting" />
  <ContractAttendanceList @contract={{contract}} />
{{/check-empty}}