<form
  {{action 'handleSubmit' on='submit'}}
  class="t-form"
>
  <fieldset>
    <p>
      {{#form-input error=errors.participant showError=showErrors label="Participant"}}
        <TTypeAhead
          @name="participant"
          prompt="Search for a student to enroll"
          @multiselect={{true}}
          @autofocusInput={{true}}
          @onSearch={{action "onSearchCandidates"}}
          @onChange={{action "onChangeCandidate"}}
        />
      {{/form-input}}
    </p>
    {{#if mountain}}
      <p>
        {{mountain.name}}
      </p>
    {{/if}}
  </fieldset>

  <TFormActionsRow
    @submitCaption="Add enrollment"
    @disabled={{this.isDisabled}}
  >
    <button
      type="submit"
      class="btn btn-clear"
      onclick={{this.onClose}}
      disabled={{this.loading}}
    >
      Close
    </button>
  </TFormActionsRow>
</form>