<form
  {{action 'handleSubmit' on='submit'}}
  class="t-form"
>
  <fieldset>
    <p>
      {{#form-input error=errors.enrollees showError=showErrors label="Enrollees"}}
        <TTypeAhead
          @name="enrollees"
          prompt="Search for a student to enroll"
          @multiselect={{true}}
          @autofocusInput={{true}}
          @onSearch={{action "onSearchCandidates"}}
          @onChange={{action "onChangeCandidate"}}
        />
      {{/form-input}}
    </p>
  </fieldset>

  <TFormActionsRow
    @submitCaption="Add enrollment"
    @disabled={{this.isDisabled}}
  >
    <button
      type="button"
      class="btn btn-clear"
      onclick={{@onClose}}
      disabled={{this.loading}}
    >
      Close
    </button>
  </TFormActionsRow>
</form>