
<fieldset>
  <p>
    {{#form-input error=errors.participant showError=showErrors label="Participant"}}
      <TTypeAhead
        name="participant"
        prompt="Search for a student to enroll"
        @autofocusInput={{true}}
        @onSearch={{action "onSearchCandidates"}}
        @onChange={{action "onChangeCandidate"}}
      />
    {{/form-input}}
  </p>
  {{#if mountain}}
    <p>
      {{mountain.name}}
    </p>
  {{/if}}
</fieldset>

<TFormActionsRow
  @submitCaption="Add enrollment"
>
  <button type="submit" class="btn btn-clear" onclick={{this.onClose}}>
    Close
  </button>
</TFormActionsRow>
