{{#if this.showRow}}
  <tr data-test-id={{this.learningRequirement.id}}>
    <td class="text-center">
      {{#if @isEditing}}
        <Input
          type="checkbox"
          value={{this.learningRequirement.id}}
          checked={{this.isChecked}}
          onclick={{@onSelect}}
          id={{this.id}}
        />
      {{/if}}
    </td>
    <td class="pr-4 text-right w-16">
      <label for={{this.id}}>
        {{@learningRequirement.attributes.seq}}
      </label>
    </td>
    <td>
      <label for={{this.id}}>
        {{@learningRequirement.attributes.ealr}}
      </label>
    </td>
  </tr>
{{/if}}