<h2>Enrollments</h2>

<CheckEmpty
  @result={{this.model}}
>
  <StatusByStudentEnrollments
    @student={{this.student}}
    @enrollments={{this.enrollments}}
    @enrollmentStatuses={{this.enrollmentStatuses}}
    @term={{this.term}}
    @getNotes={{route-action "getNotes"}}
  />  
</CheckEmpty>