<h2>Enrollments</h2>

<CheckEmpty
  @result={{this.model}}
>
  <StatusByStudentEnrollments
    @student={{student}}
    @enrollments={{enrollments}}
    @enrollmentStatuses={{enrollmentStatuses}}
    @term={{term}}
    @getNotes={{route-action "getNotes"}}
  />  
</CheckEmpty>