<h2>Users</h2>

<StudentsFilter @queryParams={{queryParams}} @schoolYears={{schoolYears}} @coordinators={{staff}} @showRole={{true}} @showStatus={{true}} @onQuery={{action "filterUsers"}} />

<p>
  <LinkTo @route="admin-user.new" class="button">
    Add a user
  </LinkTo>
</p>

{{outlet}}