<div>
  <TinyToolbar
    @user={{this.user}}
    @permissions={{this.user.permissions}}
    @signIn={{action "signIn"}}
    @signOut={{action "signOut"}}
  />
  {{#each flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} />
  {{/each}}
  <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    {{outlet}}
  </main>
  <PageVisit />
</div>
