<h2>Components</h2>
<form onsubmit={{this.submit}}>
  <fieldset>
    <FormInput @label="Typeahead single select">
      <TTypeAhead
        autofocus
        @placeholder="Search for a mountain"
        @name="typeahead-single"
        @value={{this.brokenTop}}
        @onSearch={{this.searchMountains}}
        @onChange={{this.selectMountain}}
        @results={{this.searchMountainsResults}}
      />
    </FormInput>
  </fieldset>

  <fieldset>
    <FormInput @label="Typeahead multi select">
      <TTypeAhead
        @placeholder="Search for mountains"
        @name="typeahead-multiple"
        @value={{this.sistersAndBachelor}}
        @multiselect={{true}}
        @onSearch={{this.searchMountains}}
        @onChange={{this.selectMountains}}
        @results={{this.searchMountainsResults}}
      />
      <p>Mountains: {{this.mountainNames}}</p>
    </FormInput>
  </fieldset>

  <fieldset>
    <FormInput @label="Terms select">
      <TermSelect
        @terms={{this.model.data}}
        @value="1"
      />
    </FormInput>
  </fieldset>

</form>
