<h2>Components</h2>
<form onsubmit={{this.submit}}>
  <fieldset>
    <FormInput @label="Typeahead single select">
      <TTypeAhead
        @name="typeahead-single"
        @prompt="Search for a mountain"
        @value={{brokenTop}}
        @autofocusInput={{true}}
        @onSearch={{searchMountains}}
        @onChange={{selectMountain}}
        @results={{searchMountainsResults}}
      />
    </FormInput>
  </fieldset>

  <fieldset>
    <FormInput @label="Typeahead multi select">
      <TTypeAhead
        @name="typeahead-multiple"
        @prompt="Search for mountains"
        @value={{sistersAndBachelor}}
        @multiselect={{true}}
        @onSearch={{searchMountains}}
        @onChange={{selectMountains}}
        @results={{searchMountainsResults}}
      />
      <p>Mountains: {{mountainNames}}</p>
    </FormInput>
  </fieldset>

  <fieldset>
    <FormInput @label="Terms select">
      <TermSelect
        @terms={{this.model.data}}
        @value="1"
      />
    </FormInput>
  </fieldset>

</form>
