<h3>
  {{this.meeting.attributes.title}}
</h3>

<p>
  <LinkTo @route="contract-attendance" @model={{this.contract.id}}>
    Return to all meetings
  </LinkTo>
</p>

<ContractAttendanceRoll @contract={{this.contract}} @meeting={{this.meeting}} @updateRoll={{action "updateRoll"}} @updateAllRolls={{action "updateAllRolls"}} />