<h3>
  {{meeting.attributes.title}}
</h3>

<p>
  <LinkTo @route="contract-attendance" @model={{contract.id}}>
    Return to all meetings
  </LinkTo>
</p>

<ContractAttendanceRoll @contract={{contract}} @meeting={{meeting}} @updateRoll={{action "updateRoll"}} @updateAllRolls={{action "updateAllRolls"}} />