<h2>Enrollments</h2>

<ContractCreditAssignments
  @contract={{contract}}
  @disabled={{disabled}}
/>

<button type="button" class="button" {{on "click" (fn this.showAddEnrollment true)}}>
  Add enrollment
</button>

<CheckEmpty
  @result={{this.model}}
  @noResultsMessage="No enrollments as of yet"
>
  <Pagination
    @totalCount={{this.model.meta.count}}
    @singularName="enrollment"
  />

  <ContractEnrollmentsList
    @enrollments={{this.model.data}}
    @contractIsDisabled={{contractIsDisabled}}
    @deleteEnrollment={{action "deleteEnrollment"}}
    @updateEnrollment={{action "updateEnrollment"}}
    @getNotes={{route-action "getNotes" this.model.data}}
  />

</CheckEmpty>

{{#if this.showAddEnrollmentDialog}}
  <ModalDialog
    @containerClass="pointer-events-auto w-full md:w-1/2 xl:w-1/3"
    @translucentOverlay={{true}}
    {{autofocus-form}}
  >
    <ContractEnrollmentsAdd
      @addEnrollments={{action "addEnrollments"}}
      @contract={{this.contract}}
      @onClose={{fn this.showAddEnrollment false}}
    />
  </ModalDialog>
{{/if}}
