<h2>Enrollments</h2>

<ContractCreditAssignments
  @contract={{contract}}
  @disabled={{disabled}}
/>

<button type="button" class="btn" {{on "click" (fn this.showAddEnrollment true)}}>
  Add enrollment
</button>

<CheckEmpty
  @result={{this.model}}
  @noResultsMessage="No enrollments as of yet"
>
  <CountParagraph
    @result={{this.model}}
    @name="enrollment"
  />

  <ContractEnrollmentsList
    @enrollments={{this.model.data}}
    @contractIsDisabled={{contractIsDisabled}}
    @deleteEnrollment={{action "deleteEnrollment"}}
    @updateEnrollment={{action "updateEnrollment"}}
    @getNotes={{route-action "getNotes" this.model.data}}
  />

</CheckEmpty>

{{#if this.showAddEnrollmentDialog}}
  <ModalDialog
    @containerClass="pointer-events-auto"
    @translucentOverlay={{true}}
  >
    <ContractEnrollmentsAdd
      @addEnrollments={{action "addEnrollments"}}
      @contract={{this.contract}}
      @onClose={{fn this.showAddEnrollment false}}
    />
  </ModalDialog>
{{/if}}
