<h2>
  {{full-name this.student "first-last"}}
</h2>

<StatusByStudent
  @student={{this.student}}
  @statuses={{this.statuses}}
  @term={{this.term}}
  @getNotes={{route-action "getNotes"}}
/>


{{#if this.showCoordinatorNav}}
  <EmberWormhole @to="status-page-navigator">
    <Status::StatusPageNavigator
      @current={{this.student}}
      @navigationList={{this.studentNavigationMap}}
      @onSelect={{action 'navigate'}}
    />
  </EmberWormhole>
{{/if}}
