<div class="flex justify-between">
  <h2>
    {{full-name this.participant "first-last"}}
  </h2>

  <Status::StatusPageNavigator
    @current={{this.enrollment}}
    @navigationList={{this.enrollmentNavigationMap}}
    @onSelect={{action 'navigate'}}
  />
</div>

<section class="bg-gray-200 p-5">
  <StatusByEnrollmentSummary @enrollment={{enrollment}} @contract={{contract}} />
</section>  

<section class="bg-gray-200 p-5">
  <StatusReport
    @statusable={{this.enrollment}}
    @statuses={{this.statuses}}
    @term={{this.term}}
    @getNotes={{route-action "getNotes"}}
  />
</section>

<section class="bg-gray-200 p-5">
  <h3>Assignments</h3>
  <StatusByEnrollmentAssignments @contract={{contract}} @enrollment={{enrollment}} @getNotes={{route-action "getNotes"}} />
</section>


