<h1>
  {{full-name this.student "first-last"}}
</h1>

<p>
  {{student-status-summary this.student}}
</p>

<StudentToolbar @student={{this.student}} />

<h2>Status Report</h2>

<StatusReport
  @statusable={{this.student}}
  @statuses={{this.statuses}}
  @term={{this.term}}
  @getNotes={{route-action "getNotes"}}
/>

{{#if this.showCoordinatorNav}}
  <EmberWormhole @to="status-page-navigator">
    <Status::StatusPageNavigator
      @current={{this.student}}
      @navigationList={{this.studentNavigationMap}}
      @onSelect={{action 'navigate'}}
    />
  </EmberWormhole>
{{/if}}

{{outlet}}