<section>
  <Status::StatusPageNavigator
    @student={{this.participant}}
    @current={{this.enrollment}}
    @navigationList={{this.enrollmentNavigationMap}}
    @onSelect={{action 'navigate'}}
  />
</section>

<section>
  {{status-by-enrollment-summary
    enrollment=enrollment
    contract=contract
  }}
</section>  

<section>
  {{status-by-enrollment
    contract=contract
    enrollment=enrollment
    statuses=statuses
    getNotes=(route-action "getNotes")
  }}
</section>

<section>
  <h3>Assignments</h3>
  {{status-by-enrollment-assignments
    contract=contract
    enrollment=enrollment
    getNotes=(route-action "getNotes")
  }}
</section>

