<div class="flex justify-between">
  <h2>
    {{full-name this.participant "first-last"}}
  </h2>

  <Status::StatusPageNavigator
    @current={{this.enrollment}}
    @navigationList={{this.enrollmentNavigationMap}}
    @onSelect={{action 'navigate'}}
  />
</div>

<section>
  <StatusByEnrollmentSummary @enrollment={{enrollment}} @contract={{contract}} />
</section>  

<section>
  <StatusByEnrollment @contract={{contract}} @enrollment={{enrollment}} @statuses={{statuses}} @getNotes={{route-action "getNotes"}} />
</section>

<section>
  <h3>Assignments</h3>
  <StatusByEnrollmentAssignments @contract={{contract}} @enrollment={{enrollment}} @getNotes={{route-action "getNotes"}} />
</section>


