<h2>Graduation Plan</h2>

<GraduationPlan @student={{this.student}} @mappings={{this.mappings}} @requirements={{this.activeRequirements}} @creditAssignments={{this.creditAssignments}} @saveMapping={{action "saveMapping"}} @addMapping={{action "addMapping"}} @removeMapping={{action "removeMapping"}} />
