<h2>Learning Plan</h2>

<LearningPlan
  @student={{this.student}}
  @learningPlan={{this.learningPlan}}
  @year={{this.year}}
  @onChangeYear={{fn this.onChangeYear}}
/>

<EnrollmentsSummary
  @student={{this.student}}
  @year={{this.year}}
/>
